@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans+KR:wght@400;500;700&family=Nuosu+SIL&family=Poppins:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #64AAFF;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /*scroll animation*/
  overflow-y: scroll;
}

.support {
  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  width: 100%;
  height: 60px;
  background: #64AAFF;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

/*NAVBAR TEXT*/
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lilita One', cursive;
  font-size: 20px;
  color: #000000;

  transition: font-size ease .5s;
}

.navbar ul li a:hover {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: 'Lilita One', cursive;
  color: #ffffff;
}

/*SECTION PAGE*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;

  /*scroll snap*/
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

/* Section Page */
section#home {
  background: #64AAFF;
  font-family: 'Poppins', sans-serif;
}

section#works {
  background: #64AAFF;
  font-family: 'Poppins', sans-serif;
}

section#contact {
  background: #64AAFF;
  font-family: 'Poppins', sans-serif;
}
